replicaCount: 2

service: 
   type: NodePort
   port: 80

containerPorts:
   http: 8080

ingress:
  enabled: false

resources: 
  limits:
    cpu: "250m"
    memory: "250Mi"
  requests:
    cpu: "100m"
    memory: "128Mi"    



